svg:hover {
    cursor: pointer;
    
  }
  p, h4 {
    margin-top: 0px;
    margin-bottom: 0px;
  }
  
  /* header */
  header {
    background-color: #0071ba;
    padding: 10px 10px;
  }
  header h4 {
    display: inline-block;
    vertical-align: middle;
    font-weight: bold;
    color: white;
  }
  /* body */
  .main-body-container {
    display: grid;
    grid-template-columns: 350px 1fr;
    column-gap: 5px;
    padding: 5px 5px;
    height: 530px;
    background-color: whitesmoke;
  }
  /* first column of main body */
  .first-column-of-main {
    padding: 2px 2px;
  }
  .select-input {
    display: inline-block;
    text-align: center;
  }
  .first-row-of-first-column-of-main {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
  }
  .select-input form, select {
    color: white;
    background-color: #00a1ec;
    width: 345px;
    height: 36px;
    text-align: center;
    font-weight: bold;
  }
  .second-row-of-first-column-of-main {
    vertical-align: middle;
    text-align: center;
    margin-bottom: 5px;
  }
  .mamang-samele-container {
    vertical-align: middle;
    text-align: center;
    width: 345px;
    height: 36px;
    display: inline-block;
    background-color: #00a1ec;
  }
  .mamang-samele-container p {
    line-height: 36px;
    display: inline-block;
    vertical-align: middle;
    color: white;
    text-align: center;
    font-weight: bold;
  }
  .mamang-samele-container img {
    vertical-align: middle;
    border-radius: 150px;
    display: inline-block;
    height: 30px;
  }
  .item-in-troll-container {
    vertical-align: middle;
    overflow-y: scroll;
    background-color: #f5f5f5;
    border: 1px solid darkgray;
    height: 355px;
    margin-bottom: 5px;
  }
  .item-in-troll {
    padding-left: 2px;
    border: 1px solid black;
    display: grid;
    gap: 5px;
  }
  .item-in-troll-image {
    grid-column: 3;
    grid-row: 1 / span 2;
    display: grid;
    place-items: center;
  }
  .item-in-troll-image svg:hover path {
    cursor: pointer;
    fill: red;
  }
  .item-in-troll .right {
    float: right;
  }
  
  
  .total-item {
    padding: 1.5px 1.5px;
    vertical-align: middle;
    background-color: white;
    height: 75px;
  }
  .total-item p {
    display: inline-block;
    font-size: 15px;
    font-weight: bold;
  }
  .total-item .dynamic-text {
    padding-left: 5px;
    width: 150px;
  }
  .third-row-of-total-item {
    background-color: #049eec;
  }
  .third-row-of-total-item p {
    color: white;
  }
  
  /* second column of main body */
  .second-column-of-main {
    padding: 2px 2px;
  }
  .item-div-container {
    vertical-align: middle;
    background-color: white;
    height: 36px;
    margin-bottom: 5px;
  }
  .item-div-container img {
    margin: 0px 0px;
  }
  .food-menu-container {
    width: 100%;
    height: 475px;
    border: 1px solid darkgray;
    
  }
  .food-menu-container {
    overflow-y: scroll;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    
  }
  .menu {
    margin-top: 10px;
    width: 100%; /* Atur lebar kartu sesuai kebutuhan */
    border: 1px solid #ddd; /* Tambahkan garis tepi jika diinginkan */
    border-radius: 8px; /* Tambahkan sudut melengkung jika diinginkan */
    overflow: hidden; /* Hindari konten melewati batas kartu */
    transition: transform 0.3s ease-in-out;
  }
  .menu:hover {
    transform: scale(1.02); /* Ubah nilai scale sesuai kebutuhan */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Efek bayangan saat dihover */
  }
  .food-menu-container button{
    height: 200px;
    background-color: white;
    padding: 0px 0px;
    border: 1px solid rgb(68, 68, 68);
    border-radius: 8px;
  }
  .menu img{
    width: 60px;
    transition: transform 0.3s ease-in-out;
  }
  .menu:hover img {
    transform: scale(1.2); /* Ubah nilai scale sesuai kebutuhan */
  }
 
  .print-button-container {
    height:100%;
    display: flex;
    align-items: center;
    justify-content: right;
    position: relative;
    height: 100%;
  }
  .print-button-container button {
    padding: 1px 10px;
    line-height: 45px;
  }
  .print-button-container img {
    vertical-align: middle;
    height: 30px;
  }
  .footer-second-row-container {
    height: 25px;
    background-color: blue;
    padding-left: 5px;
    margin-top: 10px;
  }
  .footer-second-row-container p{
    color: white;
  }
  .printable-area {
    display: block;
  }
  
  @media print {
    .printable-area {
      display: none;
    }
  }
  #searchMenu {
    margin-left: 42pc;
  }
  /* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  font-size: 16px; /* Misalnya, ubah ukuran font untuk seluruh halaman */
  
}

.input-box {
  position: relative;
  height: 35px; /* Ubah tinggi sesuai kebutuhan */
  max-width: 55px; /* Ubah lebar maksimum sesuai kebutuhan */
  width: 100%;
  border-radius: 6px;
  background-color: transparent;
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  margin-left: 8px;
  
  
  
}

.input-box.open {
  max-width: 350px;
}

input {
  position: relative;
  outline: none;
  border: none;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  font-size: 13px; /* Ubah ukuran font sesuai kebutuhan */
  font-weight: 400;
  color: black;
  background-color: rgb(255, 255, 255);
}

.input-box.open {
  padding: 0 15px 0 65px;
}

.icon {
  position: absolute;
  height: 100%;
  top: 0;
  left: 0;
  width: 60px;
  border-radius: 25px;
  display: flex;
  justify-content: center;
  background-color: rgb(255, 255, 255);
}

.search-icon,
.close-icon {
  position: absolute;
  top: 50%;
  font-size: 20px; /* Ubah ukuran ikon sesuai kebutuhan */
  transition: all 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.search-icon {
  color: rgb(51, 102, 212);
  transform: translateY(-50%) rotate(90deg);
}

.input-box.open .search-icon {
  transform: translateY(-50%) rotate(0);
}

.close-icon {
  right: -45px;
  color: rgb(51, 102, 212);
  padding: 5px;
  opacity: 0;
  pointer-events: none;
  transform: translateY(-50%);
  
}

.input-box.open .close-icon {
  opacity: 1;
  pointer-events: auto;
  transform: translateY(-50%) rotate(180deg);
}


